[color]
	ui = auto
[user]
	email = miguelgraz@gmail.com
	name = Miguel Grazziotin
[core]
	editor = subl -n -w
[alias]
	stash = stash --include-untracked
	hist = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[push]
	default = current
