[color]
	ui = auto
[color "diff"]
	meta = yellow
[user]
	email = miguelgraz@gmail.com
	name = Miguel Schmitz Grazziotin
[core]
	editor = subl -n -w
[alias]
	stash = stash --include-untracked
	hist = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	histmine = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --author=miguelgraz
[pull]
  	rebase = true
[merge]
  	ff = false
[push]
  	default = simple
