[Desktop Entry]
Type=Application
Name=AutoStartMOC
GenericName=Miguels Custom Script
Comment=Bind keycode 208 and start MOC
Exec=sh -c "/usr/bin/mocp --server && /usr/bin/xmodmap -e 'keycode 208 = XF86AudioForward'"
Terminal=false
X-GNOME-Autostart-enabled=true
