[Desktop Entry]
Type=Application
Name=AutoStartMOC
GenericName=Miguels Custom Script
Comment=Start MOC server
Exec=sh -c "/usr/bin/mocp --server"
Terminal=false
X-GNOME-Autostart-enabled=true
